<div class='container_16 prod_details'>
<h1 class ='header1'>Your search results:</h1><br><br>
<div class='grid_14 prefix_1 suffix_1'><hr></div>
<%= render @product_results %>
<%= render @product_desc_results %>
</div>